<!DOCTYPE html>
<html lang="ja">
  <head>
    

      <div class="bg-gray-300">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block text-indigo-600">My Book Network</span>
      <span class="block text-indigo-300 text-xl"> Using <a class="text-indigo-400"href = "https://github.com/visjs/vis-network">vis-network </a></span>
    </h2>
    
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="books/upload" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700"> Check My Data</a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="books/upload" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-indigo-50">Sign up</a>
      </div>
    </div>
  </div>
</div>
  </head>



  <body>

   
<div class="h-screen w-screen flex justify-center items-center">
    <%
=begin%>
 <p>center</p> 
<%
=end%>
</div>

  </body>
</html>